body {
  font-family: "Amatic SC", cursive;
}

h1 {
  text-align: center;
  margin-top: 35px;
}
h2 {
  font-size: 200px;
  margin: 20px, 20px, 20px, 20px;
}

li {
  list-style: none;
  text-align: center;
  width: 80px;
}
p {
  font-size: 25px;
}
.image {
  font-size: 100px;
}

.container {
  width: fit-content;
}
.card {
  width: fit-content;
  margin-top: 30px;
}
.units {
  font-size: 20px;
  font-weight: 200;
  position: relative;
  top: -25px;
}
.today {
  font-weight: 300;
  position: relative;
  right: -200px;
  top: -300px;
  width: 200px;
  margin: 0 auto;
}
.previsions {
  position: relative;
  top: -80px;
  font-weight: 400;
  margin-bottom: 10px;
}
.main-container {
  background-image: radial-gradient(
    circle 248px at center,
    #16d9e3 0%,
    #30c7ec 47%,
    #46aef7 100%
  );
}
